<oh-app-header></oh-app-header>
<div class="OHform">
        <p>Dear Associate,</p>
        <p>Welcome to the Optional Holiday - <span name="c_year"></span> selection window. This year you may choose any two optional holidays from the available list and freeze the calendar for year <span name="c_year"></span>.</p>
        <p>Please note:</p>
        <ul class="custom-ul">
            <li>Optional holiday (OH) can be applied before 30 days from the due date of the holiday date. If not applied, OH will not be available in the list to apply for the same.  Please refer last cut-off date mentioned along with the list for reference.</li>
            <li>Associates have a flexibility to choose two optional holidays and fix it for the year or choose one by one before the last cut-off timeline.</li>
            <li>Optional holiday once opted and approved cannot be changed. If rejected, associate need to connect with manager and accordingly re-apply OH from the available list.</li>
            <li>In case due to any business exigency employee has to come to office on the day of selected optional holiday, in that case he/she may apply for compensatory off as per process as there is no provision to change the selected holiday once approved earlier.</li>
        </ul>
    </div>
<oh-app-footer></oh-app-footer>